@{
    ViewBag.Title = "Home Page";
}

@section Scripts{
    <script src="~/js/CustomJavascript.js" asp-append-version="true"></script>
}

<div class="text-center">
    <p>This is the Index page</p>
</div>
